Repository owendevita/ClipVault: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

getting login.js to pass tests above 80%
  frontend/tests_frontend/login.test.js
Due: frontend

getting preferences.js to pass tests above 80% and silencing expected network errors
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/preferences.html
  frontend/preferences.js
  frontend/tests_frontend/preferences.test.js
  frontend/tests_frontend/preferences_browser.test.js
Due: frontend

add browser-mode compatibility for frontend pages
  frontend/history.html
  frontend/login.js
  frontend/main.html
  frontend/preferences.js
Due: frontend

Removed buggy double variable declaration
  frontend/main.js
Due: frontend

Fix infinite db loop and race condition
  backend/clipboard.py
  backend/main.py
Due: backend

UI element sizing fixes
  frontend/main.html
  frontend/preferences.html
  frontend/rotate.png
  frontend/style_preferences.css
Due: frontend

adjusting sizes for maximized screen
  frontend/style_preferences.css
Due: frontend

preferences save in browser mode
  frontend/preferences.js
  frontend/tests_frontend/preferences_browser.test.js
Due: frontend

implementing dark mode
  frontend/bin_darkmode.png
  frontend/darkmode.js
  frontend/history.html
  frontend/login.html
  frontend/main.html
  frontend/preferences.html
  frontend/preferences.js
  frontend/style_darkmode.css
  frontend/style_history.css
  frontend/style_preferences.css
Due: frontend

optimized frontend tests' ci pipeline
  .github/workflows/ci.yml
Due: none

pushing user manual to main
  docs/USER_README.md
Due: none

Updated Backend Tests
  README.md
  backend/README.md
  backend/main.py
  backend/tests/test_api_advanced.py
  backend/tests/test_crypto.py
  backend/tests/test_database_advanced.py
  backend/tests/test_integration_comprehensive.py
  backend/tests/test_security.py
  docs/DEVELOPER_README.md
Due: backend

Fix problems relating to preferences storage
  backend/main.py
  frontend/preferences.js
Due: backend, frontend

Fix async issue with preferences test
  frontend/coverage/clover.xml
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov-report/login.js.html
  frontend/coverage/lcov-report/preferences.js.html
  frontend/coverage/lcov.info
  frontend/tests_frontend/preferences.test.js
Due: frontend

added auto refresh feature
  frontend/history.html
Due: frontend
